<h1> Add a Bill </h1>

<%= form_for @invoice, as: :invoice,:url => invoice_create_path do |f| %>

  <p>
    <%= f.label 'Name' %>
    <%= f.text_field 'customer_name' %>
  </p>

  <p>
    <%= f.label 'Email' %>
    <%= f.text_fiels 'email' %>
  </p>

  <p>
    <%= f.label 'Item' %>
    <%= f.association :locality, :collection => @items %>
  </p>

  <p>
    <%= f.label 'Quantity' %>
    <%= f.select 'quantity', @quantity %>
  </p>
  <p><%= f.submit 'Send' %></p>
<% end %>
