<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<body style="background: #f8f8f8;">
  <div sytle="border: 3px solid red;">
  <div sytle="border: 3px solid white;">

  <p>Dear <%= obj['employee']['name']%>, </p>
  <p>This is your tax computation for the year 2014-15.</p>
  <br>
  <div style="text-align:left;">



<div id="page" style='background: #ffffff;margin: 0 auto;width: 980px;
  border-radius: 3px;border: 1px solid #333;overflow: visible;
  -webkit-border-radius: 3px;-moz-border-radius: 3px;
  border-radius: 3px;color: #333;box-shadow: 0 1px 0 rgba(255,255,255,0.8),inset 0 1px 2px rgba(0,0,0,0.06);
  font-size: 14px;font-family: "Helvetica neue",Helvetica,Arial,Sans-serif;
  line-height: 1;height: 2250px;
  padding: 20px 60px 20px 60px;'>
  <div id="cntr" class="cntr">

    <div id="head" style="font-weight: 400;font-size: 20px;text-align: center;padding-bottom: 10px;padding-top: 10px;background: #000000;color: #ffffff;font-weight: bold;border-bottom-color: #121213;">
      TAX COMPUTATIONS FOR YEAR 2014-15
    </div>

    <div>
      <div class="p30" style="padding-left: 30px;padding-bottom: 10px;padding-top: 10px;text-align: left;font-size: 14px;border-bottom: 1px solid #121213;">
        <span>ID: </span><span><%= obj['employee']['id']%></span>
      </div>
      <div class="p30" style="padding-left: 30px;padding-bottom: 10px;padding-top: 10px;text-align: left;font-size: 14px;border-bottom: 1px solid #121213;">
        <span>NAME:</span><span><%= obj['employee']['name']%></span>
      </div>
    </div>

    <div id="content">

      <div id="leftRow" style="position: relative;float: left;margin-right: 70px;">
        <div id="content_0" style="margin-top: -20px;">
          <table style="margin-top:20px;border: 1.5px solid #999;">
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">BASIC</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['basic'] %></td>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">HOUSE RENT ALLOWANCE</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['hra'] %></td>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">SPECIAL ALLOWANCE</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['special'] %></td>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">CONVEYANCE</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['conveyance'] %></td>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">BONUS</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['bonus'] %></td>
            </tr>

          </table>
        </div>


        <div id="content_2">
          <table style="margin-top:20px;border: 1.5px solid #999;">
            <tr>
              <th style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">GROSS INCOME</th>
              <th style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['total_income'] %></th>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">HRA EXEMPTION</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['hra_exempt'] %></td>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">CONVEYANCE EXEMPTION</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['conveyance'] %></td>
            </tr>
          </table>
        </div>

        <div id="content_3">
          <table style="margin-top:20px;border: 1.5px solid #999;">

            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">PT</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['prof_tax'] %></td>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">INCOME FROM OTHER SOURCES</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['income_others'] %></td>
            </tr>
          </table>
        </div>



        <div id="content_5">
          <table style="margin-top:20px;border: 1.5px solid #999;">
            <tr>
              <th style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">GROSS TOTAL INCOME</th>
              <th style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"></th>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">INVESTMENT UNDER SEC 80C</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['sec80c'] %></td>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">INVESTMENT UNDER SEC 80G</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['donations'] %></td>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">RGRESS SEC 80CCG</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['sec80cg'] %></td>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">MEDICLAIM SEC 80D</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['mediclaim'] %></td>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">EDUCATION LOAN SEC 80E</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['education_loan'] %></td>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">INTEREST ON HOUSING LOAN SEC 80EE</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['housing_loan'] %></td>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">HANDICAP (DEPENDENT) SEC 80DD</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['handicap_dependent'] %></td>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">HANDICAP (SELF) SEC 80U</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['handicap_self'] %></td>
            </tr>
          </table>
        </div>


      <div id="rightRow">

        <div id="content_7">
          <table style="margin-top:20px;border: 1.5px solid #999;">
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">TAXABLE INCOME</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['taxable_income'] %></td>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">TAX ON INCOME</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['income_tax'] %></td>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">REBATE UNDER SEC 87A</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['rebate'] %></td>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">SURCHARGE</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['surcharge'] %></td>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">TAX AFTER SURCHARGE</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['income_tax'] +  obj['payroll']['surcharge'] %></td>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">EDUCATION CESS</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['education_cess'] %></td>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">TOTAL TAX</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['total_tax'] %></td>
            </tr>
          </table>
        </div>


        <div id="content_9">
          <table style="margin-top:20px;border: 1.5px solid #999;">
            <tr>
              <th style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">** INVESTMENT UNDER SECTION 80C</th>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">PF</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['pf'] %></td>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">VPF</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['vpf'] %></td>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">HLPR</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['hlpr'] %></td>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">LIC</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['lic'] %></td>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">ULIP</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['ulip'] %></td>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">ELSS</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['elss'] %></td>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">PPF</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['ppf'] %></td>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">NSC</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['nsc'] %></td>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">INF BONDS</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['infrastructure'] %></td>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">NSS</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['nss'] %></td>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">MUTUAL FUND</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['mutual_fund'] %></td>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">CHILD EDUCATION EXPENSES</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['child_edu'] %></td>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">FIXED DEPOSIT</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['fixed_deposit'] %></td>
            </tr>
          </table>
        </div>

        <div id="content_10">
          <table style="margin-top:20px;border: 1.5px solid #999;">
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">PENSION PLAN -80CCC</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['pension'] %></td>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">NATIONAL PENSION SCHEME</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['national_pension'] %></td>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">SECTION 80 CCE (SEC80C + SEC80CCC + SEC80CCD)</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['sec80c'] %></td>
           </tr>
          </table>
        </div>


        <div id="content_12">
          <table style="margin-top:20px;border: 1.5px solid #999;">
            <tr>
              <th style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">HRA CALCULATIONS</th>
              <th style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"></th>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">TOTAL RENT PAID</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['rent'] %></td>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">10% SALARY</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['basic'].to_i * 0.1 %></td>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">RENT PAID - 10% SALARY</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['rent'] - (obj['payroll']['basic'].to_i * 0.1) %></td>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">SALARY 40% OR 50%</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['basic'].to_i * 0.4 %></td>
            </tr>
            <tr>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">ACTUAL HRA PAID</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['hra'] %></td>
            </tr>
            <tr>
              <td style="font-weigth:bold;background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;">LEAST OF THE THREE</td>
              <td style="background: #ffffff;border: 1.5px solid #999;padding: 10px;width: 200px;"><%= obj['payroll']['hra_exempt'] %></td>
            </tr>
          </table>
        </div>

      </div>

    </div>

  </div>
</div>
</div>
<br />
<p>
In case you have any concerns, please raise them.
</p>
<br/>
Regards,
<br/ >
<b>Thundering Herd Admin</b>
</div></div>
</body>
</html>
